@model AssignmentThree_N01458977.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}

@Styles.Render("~/Content/Site.css")

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
    </nav>
    <br/>
    <div id="namecontainer">
        <h2>Are you sure you want to Delete @Model.TeacherFname @Model.TeacherLname ?</h2>
        <p>This action cannot be undone.</p>
    </div>
    <form method="POST" action="/Teacher/Delete/@Model.TeacherId">
        <button class="deletebutton">Confirm Delete</button>
    </form>
</div>